<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a routerLink="/finance/home" routerLinkActive="active"><i class="fa fa-edit fa-fw"></i> Home</a>
                    <!--<a class="btn btn-default" routerLink="/finance/company" routerLinkActive="active"><span class="fa fa-user"></span> Test</a>
                    <a class="btn btn-default" routerLink="/company" routerLinkActive="active"><span class="fa fa-user"></span> Test</a>
                    <a [routerLink]="['company']">Test</a>-->
                </li>
                <li>
                    <a routerLink="/finance/company" routerLinkActive="active"><i class="fa fa-edit fa-fw"></i> Bonheur Station</a>
                </li>
                <li>
                    <a routerLink="/finance/stock" routerLinkActive="active"><i class="fa fa-edit fa-fw"></i> Stock</a>
                </li>
                <li>
                    <a routerLink="/" routerLinkActive="active"><span class="fa fa-user"></span>Back to Home Page</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>