<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{transactionType.displayName}}  <small>{{ store.balance | async | currency:'AUD'}}</small></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" dismissible="true">{{ alert.msg }}</alert>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div [hidden]="isImporting" class="panel panel-default">
            <div class="panel-heading">
                Import from file
            </div>
            <div class="panel-body">
                <div  class="form-group">
                    <input type="file" class="form-control" ng2FileSelect [uploader]="transactionBulkUploader" />
                    <modal name="importConfirmation" [buttons]="['OK']" (actions)="startImport()"></modal>
                    <modal name="skipDuplication" [buttons]="['Skip','Skip All']" (actions)="skipDuplicationActions($event)"></modal>
                </div>
            </div>
        </div>
        
        <div [hidden]="!isImporting" class="progress">
            <progressbar [value]="bulkDone" [max]="bulkTotal">
                <span style="color:white; white-space:nowrap;">{{progressMessage}}</span>
            </progressbar>
            <alert type="success">
                <strong>Well done!</strong> You successfully read this important alert message.
            </alert>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                New Transaction
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" #transactionForm="ngForm" (ngSubmit)="submit()">
                            <div class="form-group input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" step="any" class="form-control" name="price" [(ngModel)]="newTransaction.amount" [formControl]="amountControl" placeholder="Price" required> 
                            </div>
                            <div class="form-group input-group" *ngIf="transactionType.includeGST">
                                <span class="input-group-addon">$</span>
                                <input type="number" step="any" class="form-control" name="gst" [(ngModel)]="newTransaction.gst" placeholder="GST" required>
                            </div>
                            
                            <categories [amount]="amountControl.valueChanges" [categories]="store.categories | async" (categoryChanged)="setCategory($event)" (subCategoryChanged)="setSubCategory($event)"></categories>                                     
                            <div class="form-group input-group">
                                <input type="date" class="form-control" name="date" [(ngModel)]="newTransaction.date" required>
                            </div>
                            <!--<date-input [date]="date" (dateChanged)="setDate($event)"></date-input>-->
                                                                        
                            <div class="form-group">
                                <label>Comment</label>
                                <input class="form-control" name="comment" [(ngModel)]="newTransaction.comment" placeholder="Comment">
                            </div>
                            <div *ngIf="!isImporting">
                                <button type="submit" class="btn btn-primary" [disabled]="!transactionForm.form.valid">Submit</button>
                                <button type="reset" class="btn btn-secondary" (click)="reset()">Reset</button>
                            </div>
                            <div *ngIf="isImporting">
                                <button type="button" class="btn btn-primary" [disabled]="!transactionForm.form.valid" (click)="submitImportedTran()">Submit</button>
                                <button type="button" class="btn btn-secondary" (click)="skipImport()">Skip</button>
                                <button type="button" class="btn btn-secondary" (click)="stopImport()">Stop Importing</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{newTransaction.displayCategory}}
                            </div>
                            <div class="panel-body">
                                <data-table [titles]="titles" [columns]="columns" [dataset]="store.transactions | async | MatchTransaction:newTransaction"></data-table>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Transactions
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="quarter=quarter-1;showTransactionsMode=1;">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" [class.btn-warning]="showTransactionsMode == 1"  (click)="showTransactions(1)">{{quarterString}}</button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="quarter=quarter+1;showTransactionsMode=1;">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="year=year-1;showTransactionsMode=2;">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" [class.btn-success]="showTransactionsMode == 2" (click)="showTransactions(2)">{{yearString}}</button>
                            <button type="button" class="btn btn-default" aria-label="Left Align" (click)="year=year+1;showTransactionsMode=2;">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" [class.btn-info]="showTransactionsMode == 3" (click)="showTransactions(3)">   All   </button>
                        </div>
                    </div>
                </div>
                <data-table [delete]="true" (confirmDelete)="delete($event)" [titles]="titles" [columns]="columns" [dataset]="store.transactions | async | dateMatch:showTransactionsMode:quarter:year"></data-table>
            </div>
        </div>
    </div>
</div>